__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.venv/
venv/
env/

data/
dataset/
datasets/
outputs/
output/
runs/
logs/
checkpoints/
weights/
pretrained/

*.pt
*.pth
*.ckpt
*.onnx
*.pkl
*.npy
*.npz
*.zip
*.rar
*.7z
*.tar
*.gz
